.Order{
    padding : 10px;
    width : 70%;
    box-sizing: border-box;
    /* border : 0px solid grey; */
    box-shadow : 2px 2px 5px grey;
    margin :2px auto;
}

.Ingredients{
    display : block;
}

.Ingredient{
    border : 1px solid #ccc;
    padding : 2px;
    margin : 5px;
    background-color: white;
}

@media(max-width : 610px)
{
    .Ingredient{
        display : block;
        border : none;
        /* margin-left : 0px */
    }
}