.NavigationItem{
    color : white;
    box-sizing: border-box;
    display :flex;
    align-items: center;
}

.NavigationItem a{
    color : white;
    text-decoration: none;
    box-sizing: border-box;
    border-bottom : 4px solid transparent;
    padding : 8px 6px;
    height: 100%;
    display : block;
    font-size: 18px;
    /* cursor : pointer; */

}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    background-color: #8F5C2C;
    border-bottom : 4px solid skyblue;
    color : white;
    cursor : pointer;
}



@media(max-width : 499px)
{
    .NavigationItem{
        box-sizing: border-box;
        /* display :flex;
        align-items: center; */
        display :block;
    }
    
    .NavigationItem a{
        text-decoration: none;
        box-sizing: border-box;
        border-bottom : 4px solid transparent;
        padding : 8px 10px;
        height: 100%;
        display : block;
        color : #8F5C2C;
        ;
        font-weight: bolder;   
        /* cursor : pointer; */

    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        background-color: grey;
        color:skybLue;
        border-bottom : none;
        /* border-bottom : 4px solid skyblue; */
        /* color : white */
        cursor : pointer;
    }
}