.ContactData {
    width : 80%;
    margin : 20px auto;
    text-align  :center;
    border  : 1px solid grey;
    box-shadow : 0px 2px 5px grey;
    box-sizing: border-box;
}



.Button {
    background-color: transparent;
    border: none;
    color: #5C9210;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 0px;
    margin: 5px;
    font-weight: bold;
}

.Button:disabled{
    color : #ccc;
    cursor: not-allowed;
}



@media(min-width : 600px){
    .ContactData {
        width : 500px;
    }
}