.SideDrawer{
    height : 100%;
    position: fixed;
    width : 250px;
    background-color :rgb(255,255,255);
    z-index :700; 
    transition : all 0.2s ease-out;
    opacity : 1;
}

.Open {
    transform: traslateX(0);
}

.Close {
    transform : translateX(-101%);
}