.Burger{
    height : 370px;
    width :500px;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    font-size: 150%;
    overflow: auto ;
  }

  
@media (max-width : 600px){
    .Burger{
      width : 440px;
      font-size : 150%;
    }  
  }

@media(max-width : 500px){
  .Burger{
    margin-top : 5%
  }
}  


@media (max-width : 430px){
    .Burger{
      height : 300px;
      width : 100%;
      font-size : 100%;
      /* padding : 5px; */
    }
  }

@media(max-width : 361px)
{
  .Burger{
    margin-top : 0px
  }
}