.Toolbar{
    /* height  : 7vh; */
    padding : 8px 10px;
    background-color: rgb(100, 52, 7);
    justify-content: space-between;
    display : flex;
    flex-flow: row;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}