.NavigationItems{
    list-style:none;
    display : flex;
    flex-flow : row;
    align-items: center;
    height : 100%;
    margin : 0;
    padding : 0;
}

@media(max-width : 500px){
    .NavigationItems{
        margin-top : 50px;
        display : block;
    }
}

.acive{
    background-color: #8F5C2C;
    border-bottom : 4px solid skyblue;
    color : white;
    cursor : pointer;
}
