.Block{
    position : absolute;
    top : 45%;
    left : 31.5%;
    z-index : 400;
    width  : 37%;
    height  :220px;
    background-color: white;
    text-align: center;
    border-radius: 2px;
}

.Gif{
    margin-top: 25px;
    width  : 130px;
    height  :130px;
}

.Block>h3{
    margin-top : 2px;
    text-align: center;
    color : #309A00;
}